body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
ul{
    list-style: none;
    margin-top: 50px;
}
li{
    margin-left: -40px;
}

li a{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    color: black;
}
li a:hover{
    color: black;
    text-decoration: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.25s ease;
}
ul li a.active{
    background-color: black;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#icon1{
    padding: 10px;
    margin-right: 21px;
    margin-left: 50px;
}

#icon2{
    padding: 10px;
    margin-right: 25px;
    margin-left: 50px;
}
#icon3{
    padding: 10px;
    margin-right: 25px;
    margin-left: 50px;
}
#list3{
    margin-top: 140%;
}
#openFormBtn  {
    color: #575767;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-top: 50px;
    margin-left: -15px;
    justify-content: center;
    padding:  0px 100px 0px 100px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
button i{
    margin-right: 10px;
    justify-content: center;
    font-size: 15px;
}
.form-popup {
    display: none;
    position: absolute;
    margin: 50%;
    /* margin-top: 50%;
    margin-left: 50%; */
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 10px 1000px rgba(122, 122, 122, 0.7);
}
#addTaskBtn{
    width: 30%;
    margin-left: 34%;
    border-radius: 50px;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
    font-weight: 700;
}
#closeFormBtn{
    width: 30%;
    margin-left: 34%;
    border-radius: 50px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;

}
#addTaskBtn:hover{
    background-color: black;
    color: white;
    transition: 0.2s;

}
#closeFormBtn:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}
.todo-container, .completed-container{
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding:  0px 100px 0px 100px;
}
.todo-container input, .completed-container input{
    margin: 30px 10px 10px 6px;

}
#incompleteList{
    font-size: 20px;
    font-weight: 700;
    color: #575767;
}
#completedList{
    font-size: 20px;
    font-weight: 700;
    color: #acabab;
}
h5{
    color: #575767;
}
#task{
    padding: 20px;
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #575767;
    background-color: transparent;

    /* margin-bottom: 10px; */

}
#taskTime{
    border: none;
    outline: none;
    border-bottom: 1px solid #575767;
    padding: 20px;
    width: 100%;
}
#taskDescription{
    padding: 20px;
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #575767;
    background-color: transparent;

    /* margin-bottom: 10px; */

}

span{
    font-weight: 100;
}
/* Add your CSS styles for the modal here */
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
  }

  .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

#skipButton{
    /* width: 35%; */
    margin-left: 200px;
    margin-top: 10px;
    border: none;
    font-weight: 100;
    font-size: 15px;
}

#remindLaterButton{
    width: 40%;
    margin-left: 70%;
    margin-top: -23px;
    font-weight: 100;
    font-size: 15px;
}